<div class="row">
  <div>
    <p class="contribute"><%= link_to 'Contribute', new_plant_path, class: 'btn btn-lg' %><br>
  </div>

  <div>
    <p><%= link_to 'Browse All', plants_path, class: 'btn btn-lg' %><br>
  </div>

  <div>
    <p><%= link_to 'My Plants', user_plants_path(@user), class: 'btn btn-lg' %><br>
  </div>
</div>
