<h2>Sign Up</h2>

<% if @user.errors.any? %>
  <div class="error_explanation">
    <% @user.errors.full_messages.each do |msg| %>
      <%= msg %><br>
    <% end %>
  </div>
<% end %>

<%= render "form", user: @user %>
