<p>Search:</p>

<p><%= link_to 'Submit a plant', '../plants/new' %></p>

<p><%= link_to 'All plants', plants_path %><br>






<p>Favorites:</p>

<!-- <p><%= link_to 'All plants', plants_path %></p> -->
