<!-- Hello <%= @user.name %> -->

<p>Search:</p>

<p>Favorites:</p>

<!-- <%= button_to 'Logout', '/logout' %> --> <!-- is this the same as below? -->
<!-- <%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
  <input type=submit value='logout'>
<% end %> -->
