<% if flash[:notice] %>
  <div class="error_explanation">
    <p><%= flash[:notice] %></p>
  </div>
<% end %>

<% content_for :menu do %>
  <%= render "menu", user: @user %>
<% end %>

<img src="https://www.thinkmakeshareblog.com/wp-content/uploads/APR_WALLPAPER-Ken-Sheldon-florals-thinkmakeshareblog.jpg",  class="main-photo">
