<div class="container">
  <div class="row">
    <div class="col-md-4">
      <%= link_to 'Contribute a plant', '../plants/new', class: 'btn btn-success btn-lg' %>
    </div>
    <div class="col-md-4">
      <%= link_to 'Browse plants', plants_path, class: 'btn btn-success btn-lg' %>
    </div>
    <div class="col-md-4">
      <%= link_to 'My Favorites', plants_path, class: 'btn btn-success btn-lg' %>
    </div>
  </div>
</div>
