<h3>Filter plants:</h3>
  <%= form_tag("/plants", method: "get") do %>
    <%= select_tag "season", options_from_collection_for_select(@seasons, "id", "season"), prompt: "All seasons" %>
    <%= submit_tag "Filter" %>
  <% end %>

 <p>Plants</p>
 <% @plants.each do |plant| %>
   <%= link_to "#{plant.common_name}, #{plant.variety}", plant_path(plant) %><br>
 <% end %>
