<!-- <%= stylesheet_link_tag "application" %> -->
<h2>Submit a Plant</h2>

<!-- ERROR MESSAGES -->
<% if @plant.errors.any? %>
  <div class="error_explanation">
    <%= pluralize(@plant.errors.count, "error") %> prohibited this plant from being submitted:<br>
    <% @plant.errors.full_messages.each do |msg| %>
      <%= msg %><br>
    <% end %>
  </div>
<% end %>

<%= render "form", plant: @plant %>
