<div class="all">
<!-- <%= stylesheet_link_tag "application" %> -->
<h3 id="plant-title">Submit a Plant</h3>

<div class="filter"></div>

<div class="main-content">
  <h6>*Required field</h6>
  <!-- ERROR MESSAGES -->
  <% if @plant.errors.any? %>
    <div class="error_explanation">
      <%= pluralize(@plant.errors.count, "error") %> prohibited this plant from being submitted:<br>
      <% @plant.errors.full_messages.each do |msg| %>
        <%= msg %><br>
      <% end %>
    </div>
  <% end %>

  <%= render "form", plant: @plant %>

</div>
<p>
<div class="submit"></div>
</div>

<div class="test"></div>
