// Place all the styles related to the plants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a.content-link {
  color: #6D7587; //grey
}

.error_explanation{
  color: #E83246; //poppy red
  font-weight: bold;
}

.plant-title{
  padding-bottom: 10px;
}

#plant-title{
  font-family: 'Bevan', cursive;
}

.plant-info{
  text-align: left;
}

img.plant-photo{
  float: right;
  border-radius: 20px;
  width: 50%;
  height: auto;
}

ul {
  padding-left: 18px;
}​

.col-xs-6{
  font-weight: normal;
}


// https://stackoverflow.com/questions/24109276/how-to-align-input-and-label-from-collection-check-boxes
