// Place all the styles related to the plants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.error_explanation{
  color: red;
  font-weight: bold;
}

.plant_title{
  padding-bottom: 10px;
}

.plant_info{
  text-align: left;
}

img.plant_photo{
  width: 50%;
	height: auto;
  float: right;
}

// https://stackoverflow.com/questions/24109276/how-to-align-input-and-label-from-collection-check-boxes
