// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.btn{
  background-color: #17C87D; //tropical green
  color: #FFFFFF;
}

.btn:hover{
  background-color: #ED8BAF; //pink
}
